/*---Background colors for pane and TabPane--- */


.pane {
    -fx-background-color:  #182E40 ;
}

.tabPane {
     -fx-background-color:  #182E40;
}


/*-----------Text------------ */

.txt{
    -fx-fill:white;
    -fx-font-size: 80;
    
}

.txtDescr{
    -fx-fill:#38A4C2;
    -fx-font-size: 24;
}

.txtAddit{
    -fx-fill:#38A4C2;
    -fx-font-size: 16;
}
.labelDescr{
    -fx-font-size: 24;
    -fx-text-fill:#38A4C2;
}

/*-----------Button------------ */

.btn {
    -fx-text-fill:white;
    -fx-background-color: #38A4C2;
    -fx-background-radius: 30px;
    -fx-font-size:15;
    -fx-border-color: #38A4C2;
    -fx-border-radius: 30px;
    -fx-border-width: 2 2 2 2; 
    
}

.btn:hover {
    -fx-background-color: white;
    -fx-background-radius: 30px;
    -fx-background-insets:0.0;
    -fx-text-fill: #38A4C2;
    -fx-font-weight: bold;
    -fx-border-color: #38A4C2;
    -fx-border-radius: 30px;
    -fx-border-width: 2 2 2 2; 
}

.btnres {
	-fx-text-fill:white;
    -fx-background-color: #38A4C2;
    -fx-background-radius: 30px;
    -fx-font-size:12;
}

/*--------tabs------------- */

.tab-pane{
	-fx-tab-min-height: 5em;
    -fx-tab-max-height: 5em;
    -fx-tab-min-width: 20em;
    -fx-tab-max-width: 20em;
    -fx-padding: 0 -1 -1 0;
}

.tab-pane:focused{
	-fx-focus-color:transparent;
}

.tab-pane .tab-header-background {
    -fx-opacity: 0;
}
.tab-pane .tab-header-area{
	-fx-background-color: #182E40;
	-fx-background-insets: 0, 0 0 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;   
}

.tab {
	-fx-background-color: #182E40;
	-fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0 10 0 10;
    -fx-text-fill:#38A4C2;
	-fx-fill: white;
}

.tab:selected{
	-fx-background-color: #182E40;
	-fx-border-width: 0 0 5 0;
    -fx-border-color:#38A4C2;
    -fx-font-weight: bold;
}


.tab:selected .tab-label{	
    -fx-font-weight: bold;
}


.tab .tab-label{
	-fx-text-fill: #38A4C2;
	-fx-font-size: 18px;
}

.tab-down-button {
	-fx-padding: 0;
}

.tab-down-button .arrow {
	-fx-padding: 0;
}

/*-----------ChoiceBoxes------------ */


.choice-box .context-menu {
	-fx-background-color: #38A4C2;
}

.choice-box .menu-item:focused { 
	-fx-background-color: white;
}

.choice-box .menu-item > .label {
	-fx-text-fill: black;
}

.choice-box .menu-item:focused > .label {
	-fx-text-fill: black;
}

.choice-box {
  -fx-background-color: #38A4C2;
  -fx-mark-color: black; 
}

.choice-box > .label {
	-fx-text-fill: black;
}

/*-----------Slider------------ */

.slider .track {
    -fx-background-color:#38A4C2;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

/*-----------Cut------------ */
.background-pane{
	-fx-background-color: #182E40;
}
